<nav class="navbar navbar-dark bg-dark mb-5 fixed-top">
  <a class="navbar-brand" href="/">OTOZ Animals - {{inspectorate.name}}</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Dashboard</a>
      <a class="nav-item nav-link" routerLink="/cases">Sprawy</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-user fa-2x"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-sign-out fa-2x"></i>
      </a>
    </div>
  </div>
</nav>
